:root{
    width: 390px;
    background-color: #fafdf2;
    /* background-color: lightblue; Used to see elements on low contrast bacground*/
}

header{
    display: flex;
    height: 94px;
    background-color: #1a3129;
}

.decl{
    align-self: end;
    justify-self: left;
    width: 72px;
    height: 37px;
}

.decr{
    align-self: end;
    justify-self: right;
    width: 72px;
    height: 37px;
}

.join-demo{
    width: 358px;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    background-color: #234338;
    height: 40px;
    color: white;
    border: solid #2c5446 1px;
    border-radius: 6px;
}

.join-demo>img{
    width: 20px;
}

.join-demo>*{
    height: 20px;
    margin: 0px;
    align-self: center;
}

.join-demo>.desk{
    visibility: collapse;
}

nav{
    border: solid #234338 1px;
    background-color: #1a3129;
    z-index: 1;
    height: 74px;
    flex-direction: row;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul{
    visibility: hidden;
}

nav>img{
    height: 34px;
    width: 34px;
}

nav>*{
    margin: auto;
}

/* ------------------------------------------------------------ Main */

main{
    display: flex;
    flex-direction: column;
}

main>*{
    align-self: center;
}

.point{
    width: 100%;
    height: 374px;
}

.opening-line{
    display: flex;
    flex-direction: column;
}

.opening-line>*{
    align-self: center;
}

.opening{
    display: flex;
    flex-direction: column;
}

.opening>*{
    align-self: center;
}

.prof{
    top: -25px;
    position: relative;
    width: 102px;
    height: 52px;
}

.trans{
    border-bottom: #cbea7b 3px solid;
}

.hello{
    font-size: 40px;
    margin: 0px;
}

.well{
    width: 358px;
}

.start{
    display: flex;
}

.start>*{
    margin: 0px 10px 0px 10px;
}

.get-started{
    background-color: #cbea7b;
    border: #cbea7b 1px solid;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
}

.book-demo{
    background-color: #f6fbe9;
    border: #e5f5bd solid 1px;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
}

/* --------------------------------------------------------------------------- Features */

.features{
    display: flex;
    flex-direction: column;
}

.features>*{
    align-self: center;
    margin: 0px;
}

.features>h2{
    margin-top: 40px;
}

.features>p{
    margin-bottom: 40px;
    margin-top: 20px;
}

.card>img{
    width: 48px;
    height: 48px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    background-color: #f6fbe9;
    border: #e5f5bd solid 1px;
    border-radius: 10px;
    margin: 8px 0px 8px 0px;
}

.card>*{
    margin: 5px;
}

/* --------------------------------------------------------------------------- Blog */

.blog{
    display: flex;
    flex-direction: column;
}

.blog>*{
    align-self: center;
}

.posts{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f6fbe9;
    border: #eef8d3 solid 1px;
    border-radius: 10px;
    margin: 20px;
}

.posts>*{
    margin: 5px;
}

.posts>div{
    display: flex;
    flex-direction: row;
    height: 145px;
    background-color: #fafdf2;
    border: #eef8d3 1px solid;
    border-radius: 10px;
}

.posts>img{
    width: 310px;
    height: 200px;
    align-self: center;
}

.posts>div>img{
    width: 40px;
    height: 40px;
}

.pinfo{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.pinfo>*{
    margin: 0px;
    flex-direction: column;
}

.dumb{
    align-self: end;
}

/* --------------------------------------------------------------------------- Testimonial */

.q2, .q3{
    visibility: collapse;
}

.quotes{
    display: flex;
    flex-direction: column;
}

.quotes>*{
    align-self: center;
}

.testamony{
    display: flex;
    flex-direction: column;
}

.testamony>*{
    align-self: center;
}

.quote>p{
    width: 310px;
}

.quote>img{
    align-self: baseline;
    margin-left: 20px;
    width: 34px;
    height: 34px;
}

.jenn{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #f6fbe9;
    width: 358px;
}

.jenn>*{
    align-self: center;
    padding: 5px;
}

.jenn>img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.faux-car{
    display: flex;
    flex-direction: row;
}

.faux-car>*{
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.arr{
    height: 48px;
    width: 48px;
}

.artsel{
    width: 51px;
    height: 7px;
}

/* --------------------------------------------------------------------------- Price */

.price-head{
    display: flex;
    flex-direction: column;
}

.plans{
    display: flex;
    flex-direction: column;
}

.price-head>*{
    align-self: center;
    width: 358px;
}

.price-head>h2{
    width: 124px;
}

.plans>*{
    align-self: center;
}

.month-year{
    display: flex;
    border: #dcf1a7 solid 1px;
    border-radius: 8px;
    padding: 10px;
}

.month-year>*{
    padding: 0px 24px 0px 24px;
}

.month{
    border-radius: 6px;
    color: white;
    background-color: #234338;
}

.bpu{
    display: flex;
    flex-direction: column;
    width: 358px;
    background-color: #f6fbe9;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.bpu>*{
    width: 298px;
    align-self: center;
}

.cost{
    font-size: 40px;
    color: #2c5446;
}

.permonth{
    display: flex;
    flex-direction: row;
}

.permonth>*{
    align-self: center;
    margin: 5px 5px 20px 5px;
}

.choose-plan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 298px;
    background-color: #cbea7b;
    border-radius: 6px;
}

/* --------------------------------------------------------------------------- Footer */

.flinks-desk{
    display: flex;
    visibility: collapse;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #1a3129;
    color: white;
}

.flogo{
    width: 30px;
    height: 30px;
}

.footer-head{
    display: flex;
    width: 358px;
    justify-content: center;
    padding-top: 25px;
}

.fstart{
    display: flex;
}

.fstart>*{
    align-self: center;
    padding: 2px;
}

.fend{
    display: flex;
    padding-left: 90px;
}

.fend>*{
    align-self: center;
    padding: 2px;
}

.fend>img{
    width: 48px;
    height: 48px;
}

.foot-links{
    display: flex;
    flex-wrap: wrap;
    max-width: 358px;
}

.foot-links>*{
    padding: 10px;
}

.bmail, .sontact, .rocation{
    width: 20px;
    height: 20px;
}

.foot-contact{
    display: flex;
    flex-direction: column;
    background-color: #234338;
    border: #2c5446 solid 1px;
    border-radius: 8px;
    width: 358px;
    align-self: center;
    padding: 20px 0px 20px 0px;
    gap: 20px;
    margin-bottom: 20px;
}

.foot-contact>*{
    align-self: center;
    justify-self: center;
}

.conta{
    display: flex;
    justify-content: center;
    border: #2c5446 solid 1px;
    border-radius: 4px;
    width: 318px;
}

.conta>*{
    align-self: center;
    padding: 2px;
}

/* --------------------------------------------------------------------------- Tablet */

@media screen and (min-width: 1440px) and (max-width: 1919px){
    :root{
        width: 1440px;
    }

    header{
        justify-content: center;
    }

    .mob, .line{
        display: none;
    }

    .join-demo>.desk{
        visibility: visible;
        width: 140px;
        height: 38px;
    }

    .join-demo{
        width: 1280px;
        justify-content: space-between;
    }

    ul{
        visibility: visible;
        display: flex;
    }

    ul>li{
        padding: 20px;
        list-style: none;
        color: white;
        transition: color 0.5s;
    }

    ul>li>a{
        color: white;
        transition: color 0.5s;
    }

    ul>li:hover{
        color: #cbea7b;
    }

     ul>li>a:hover{
        color: #cbea7b;
    }

    .contact-us-li{
        background-color: #cbea7b;
        color: black;
        border-radius: 6px;
        animation-play-state: paused;
    }

    @keyframes talk{
        0%{
            background-color: #cbea7b;
            color: black;
        }

        50%{
            background-color: #fafdf2;
        }

        100%{
            background-color: #cbea7b;
            color: black;
        }
    }

    .contact-us-li:hover{
        animation-play-state: running;
        animation: talk 1s infinite;
    }

    .desk>h1{
        justify-self: baseline;
    }

    main>*{
        align-self: baseline;
    }

    .point{
        width: 710px;
        height: 712px;
    }

    .opening-line{
        height: 712px;
        flex-wrap: wrap;
    }

    .opening{
        margin: auto;
        margin-left: 40px;
        margin-right: 80px;
    }

    .opening>*{
        width: 610px;
    }

    .hap-custom{
        order: 1;
        display: flex;
        margin-top: 30px;
    }

    .hap-custom>*{
        padding: 0px 10px 0px 10px;
    }

    .prof{
        position: inherit;
        align-self: baseline;
        width: 102px;
    }
/* --------------------------------------------------------------------------- Features Tablet */
    .features{
        margin-top: 100px;
        display: grid;
        grid-template-areas: 
        '... fh2 fh2 ...'
        '... fp fp ...'
        'c1 c1 c2 c2'
        'c3 c3 c4 c4'
        'c5 c5 c6 c6';
    }

    .c1{grid-area: c1;}
    .c2{grid-area: c2;}
    .c3{grid-area: c3;}
    .c4{grid-area: c4;}
    .c5{grid-area: c5;}
    .c6{grid-area: c6;}
    .features>p{grid-area: fp;}
    .features>h2{
        grid-area: fh2;
        margin: auto;
    }

    .card{
        padding: 30px 20px 30px 20px;
    }

    .c1, .c3, .c5{
        margin-right: 10px;
    }

    .c2, .c4, .c6{
        margin-left: 10px;
    }
/* --------------------------------------------------------------------------- Blog Tablet */
    .blog{
        padding-top: 70px;
        display: grid;
        grid-template-areas: 
        '... bh2 bh2 ...'
        '... bp bp ...'
        'p1 p1 p2 p2'
        'p3 p3 p4 p4';
    }

    .p1{grid-area: p1;}
    .p2{grid-area: p2;}
    .p3{grid-area: p3;}
    .p4{grid-area: p4;}
    .blog>p{grid-area: bp;}
    .blog>h2{
        margin: auto;
        grid-area: bh2;
    }

    .posts>img{
        width: 570px;
        height: 336px;
    }

    .posts>h4{
        margin-top: 20px;
    }

    .posts>h3{
        margin-bottom: 20px;
    }

    .posts>div>*{
        align-self: center;
    }

    .posts>div{
        height: 83px;
    }
    .posts>div>img{
        height: 48px;
        width: 48px;
    }

    .posts>div>div>p{
        margin-right: 250px;
    }
/* --------------------------------------------------------------------------- Testimony Tablet */
    .quote{
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0px;
    }

    .quote{
        visibility: visible;
        height: 320px;
        width: 413px;
    }

    .quote>p{
        width: 413px;
    }

    .quote>div>img{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .quote>div{
        display: flex;
        flex-direction: row;
        align-self: center;
        background-color: #f6fbe9;
        width: 413px;
    }

    .dav>*{
        align-self: center;
        padding: 5px;
    }

    .rob>*{
        align-self: center;
        padding: 5px;
    }

    .testamony{
        flex-direction: row;
    }
/* --------------------------------------------------------------------------- Pricing Tablet */
    .pricing{
        margin-bottom: 100px;
    }

    .price-head>*{
        width: 1440px;
    }

    .pcard{
        display: flex;
    }
/* --------------------------------------------------------------------------- Footer Tablet */
    .flinks-desk{
        visibility: visible;
        margin: 0px 250px 0px 360px;
    }

    .flinks-desk>*{
        padding: 10px;
    }

    .foot-links{
        visibility: collapse;
    }

    .footer-head{
        display: flex;
        width: 1440px;
        justify-content: center;
        padding-top: 25px;
    }

    .foot-contact{
        display: flex;
        flex-direction: row;
        background-color: #234338;
        border: #2c5446 solid 1px;
        border-radius: 8px;
        width: 1280px;
        align-self: center;
        padding: 14px 26px 14px 16px;
        gap: 20px;
        margin-bottom: 20px;
    }

    .conta{
        display: flex;
        justify-content: center;
        border: #2c5446 solid 1px;
        border-radius: 4px;
        width: 221px;
    }

    .copyright{
        margin-left: 293px;
    }
}

/* -------------------------------------------------------------------------------------------------- Desktop */

@media screen and (min-width: 1920px){
    :root{
        width: 1920px;
    }

    header{
        justify-content: center;
    }

    .mob, .line{
        display: none;
    }

    .join-demo>.desk{
        visibility: visible;
        width: 140px;
        height: 38px;
    }

    .join-demo{
        width: 1280px;
        justify-content: space-between;
    }

    ul{
        visibility: visible;
        display: flex;
    }

    ul>li{
        padding: 20px;
        list-style: none;
        color: white;
        transition: color 0.5s;
    }

    ul>li>a{
        color: white;
        transition: color 0.5s;
    }

    ul>li:hover{
        color: #cbea7b;
    }

     ul>li>a:hover{
        color: #cbea7b;
    }

    .contact-us-li{
        background-color: #cbea7b;
        color: black;
        border-radius: 6px;
        animation-play-state: paused;

    }

    @keyframes talk{
        0%{
            background-color: #cbea7b;
            color: black;
        }

        50%{
            background-color: #fafdf2;
        }

        100%{
            background-color: #cbea7b;
            color: black;
        }
    }

    .contact-us-li:hover{
        animation-play-state: running;
        animation: talk 1s infinite;
    }

    .desk>h1{
        justify-self: baseline;
    }

    main>*{
        align-self: baseline;
    }

    .point{
        width: 949px;
        height: 832px;
    }

    .opening-line{
        height: 832px;
        flex-wrap: wrap;
    }

    .opening{
        margin: auto;
        margin-left: 40px;
        margin-right: 80px;
    }

    .opening>*{
        width: 610px;
    }

    .hap-custom{
        order: 1;
        display: flex;
        margin-top: 30px;
    }

    .hap-custom>*{
        padding: 0px 10px 0px 10px;
    }

    .prof{
        position: inherit;
        align-self: baseline;
        width: 102px;
    }
/* -------------------------------------------------------------------------------------------------- Features Desktop */
    .features{
        margin-top: 100px;
        display: grid;
        grid-template-areas: 
        '... fh2 fh2 ...'
        '... fp fp ...'
        'c1 c1 c2 c2'
        'c3 c3 c4 c4'
        'c5 c5 c6 c6';
    }


    .c1{grid-area: c1;}
    .c2{grid-area: c2;}
    .c3{grid-area: c3;}
    .c4{grid-area: c4;}
    .c5{grid-area: c5;}
    .c6{grid-area: c6;}
    .features>p{grid-area: fp;}
    .features>h2{
        grid-area: fh2;
        margin: auto;
    }

    .card{
        padding: 30px 20px 30px 20px;
    }

    .c1, .c3, .c5{
        margin-right: 10px;
    }

    .c2, .c4, .c6{
        margin-left: 10px;
    }
/* -------------------------------------------------------------------------------------------------- Blog Desktop */
    .blog{
        padding-top: 70px;
        display: grid;
        grid-template-areas: 
        '... bh2 bh2 ...'
        '... bp bp ...'
        'p1 p1 p2 p2'
        'p3 p3 p4 p4';
    }

    .p1{grid-area: p1;}
    .p2{grid-area: p2;}
    .p3{grid-area: p3;}
    .p4{grid-area: p4;}
    .blog>p{grid-area: bp;}
    .blog>h2{
        margin: auto;
        grid-area: bh2;
    }

    .posts>img{
        width: 570px;
        height: 336px;
    }

    .posts>h4{
        margin-top: 20px;
    }

    .posts>h3{
        margin-bottom: 20px;
    }

    .posts>div>*{
        align-self: center;
    }

    .posts>div{
        height: 83px;
    }
    .posts>div>img{
        height: 48px;
        width: 48px;
    }

    .posts>div>div>p{
        margin-right: 250px;
    }
/* -------------------------------------------------------------------------------------------------- Testimony Desktop */
    .quotes{
        align-self: center;
    }

    .quote{
        margin-left: 25px;
        margin-right: 25px;
        margin-bottom: 0px;
    }

    .quote{
        visibility: visible;
        height: 320px;
        width: 413px;
    }

    .quote>p{
        width: 413px;
    }

    .quote>div>img{
        width: 40px;
        height: 40px;
        margin-left: 15px;
    }

    .quote>div{
        display: flex;
        flex-direction: row;
        align-self: center;
        background-color: #f6fbe9;
        width: 413px;
    }

    .dav>*{
        align-self: center;
        padding: 5px;
    }

    .rob>*{
        align-self: center;
        padding: 5px;
    }

    .testamony{
        flex-direction: row;
    }
/* -------------------------------------------------------------------------------------------------- Pricing Desktop */
    .pricing{
        margin-bottom: 100px;
        align-self: center;
    }

    .price-head>*{
        width: 1440px;
    }

    .pcard{
        display: flex;
    }
/* -------------------------------------------------------------------------------------------------- Footer Desktop */
    .flinks-desk{
        visibility: visible;
        margin: 0px 250px 0px 360px;
    }

    .flinks-desk>*{
        padding: 10px;
    }

    .foot-links{
        visibility: collapse;
    }

    .footer-head{
        display: flex;
        width: 1440px;
        justify-content: center;
        padding-top: 25px;
    }

    .foot-contact{
        display: flex;
        flex-direction: row;
        background-color: #234338;
        border: #2c5446 solid 1px;
        border-radius: 8px;
        width: 1280px;
        align-self: center;
        padding: 14px 26px 14px 16px;
        gap: 20px;
        margin-bottom: 20px;
    }

    .conta{
        display: flex;
        justify-content: center;
        border: #2c5446 solid 1px;
        border-radius: 4px;
        width: 221px;
    }

    .copyright{
        margin-left: 293px;
    }
}