:root{
    width: 390px;
}

header{
    display: flex;
    height: 94px;
    background-color: #1a3129;
}

.decl{
    align-self: end;
    justify-self: left;
    width: 72px;
    height: 37px;
}

.decr{
    align-self: end;
    justify-self: right;
    width: 72px;
    height: 37px;
}

.join-demo{
    width: 358px;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    background-color: #234338;
    height: 40px;
    color: white;
    border: solid #2c5446 1px;
    border-radius: 6px;
    justify-self: center;
}

.join-demo>img{
    width: 20px;
}

.join-demo>*{
    height: 20px;
    margin: 0px;
    align-self: center;
}

.join-demo>.desk{
    display: none;
}

nav{
    border: solid #234338 1px;
    background-color: #1a3129;
    z-index: 1;
}

ul{
    display: none;
}

nav>img{
    height: 34px;
    width: 34px;
}

nav{
    height: 74px;
    flex-direction: row;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav>*{
    margin: auto;
}

/* ------------------------------------------------------------ Main */

main{
    display: flex;
    flex-direction: column;
}

main>*{
    align-self: center;
}

.point{
    width: 100%;
    height: 374px;
}

.prof{
    top: -25px;
    position: relative;
    width: 102px;
    height: 52px;
}

.trans{
    border-bottom: #cbea7b 3px solid;
}

.hello{
    font-size: 40px;
    margin: 0px;
}

.well{
    width: 358px;
}

.start{
    display: flex;
}

.start>*{
    margin: 0px 10px 0px 10px;
}

.get-started{
    background-color: #cbea7b;
    border: #cbea7b 1px solid;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
}

.book-demo{
    background-color: #f6fbe9;
    border: #e5f5bd solid 1px;
    border-radius: 6px;
    padding: 14px 20px 14px 20px;
}

.features{
    display: flex;
    flex-direction: column;
}

.features>*{
    align-self: center;
    margin: 0px;
}

.features>h2{
    margin-top: 40px;
}

.features>p{
    margin-bottom: 40px;
    margin-top: 20px;
}

.card>img{
    width: 48px;
    height: 48px;
}

.card{
    display: flex;
    flex-wrap: wrap;
    background-color: #f6fbe9;
    border: #e5f5bd solid 1px;
    border-radius: 10px;
    margin: 8px 0px 8px 0px;
}

.card>*{
    margin: 5px;
}

.blog{
    display: flex;
    flex-direction: column;
}

.blog>*{
    align-self: center;
}

.posts{
    padding: 30px;
    display: flex;
    flex-direction: column;
    background-color: #f6fbe9;
    border: #eef8d3 solid 1px;
    border-radius: 10px;
    margin: 20px;
}

.posts>*{
    margin: 5px;
}

.posts>div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 145px;
    background-color: #fafdf2;
    border: #eef8d3 1px solid;
    border-radius: 10px;
}

.posts>img{
    width: 310px;
    height: 200px;
    align-self: center;
}

.posts>div>img{
    width: 40px;
    height: 40px;
}

.pinfo{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.pinfo>*{
    margin: 0px;
    flex-direction: column;
}

.dumb{
    align-self: end;
}

.quotes{
    display: flex;
    flex-direction: column;
}

.quotes>*{
    align-self: center;
}

.quotes>p{
    width: 310px;
}

.quotes>img{
    align-self: baseline;
    margin-left: 20px;
    width: 34px;
    height: 34px;
}

.jenn{
    display: flex;
    flex-direction: row;
    align-self: center;
    background-color: #f6fbe9;
    width: 358px;
}

.jenn>*{
    justify-content: baseline;
    align-self: center;
    padding: 5px;
}

.jenn>img{
    width: 40px;
    height: 40px;
    margin-left: 15px;
}

.faux-car{
    display: flex;
    flex-direction: row;
}

.faux-car>*{
    padding: 10px;
    align-self: center;
    justify-self: center;
}

.arr{
    height: 48px;
    width: 48px;
}

.artsel{
    width: 51px;
    height: 7px;
}

.price-head{
    display: flex;
    flex-direction: column;
}

.plans{
    display: flex;
    flex-direction: column;
}

.price-head>*{
    align-self: center;
    width: 358px;
}

.price-head>h2{
    width: 124px;
}

.plans>*{
    align-self: center;
}

.month-year{
    display: flex;
    border: #dcf1a7 solid 1px;
    border-radius: 8px;
    padding: 10px;
}

.month-year>*{
    padding: 0px 24px 0px 24px;
}

.month{
    border-radius: 6px;
    color: white;
    background-color: #234338;
}

.bpu{
    display: flex;
    flex-direction: column;
    width: 358px;
    background-color: #f6fbe9;
    margin: 10px;
    border-radius: 10px;
    padding-bottom: 30px;
}

.bpu>*{
    width: 298px;
    align-self: center;
}

.cost{
    font-size: 40px;
    color: #2c5446;
}

.permonth{
    display: flex;
    flex-direction: row;
}

.permonth>*{
    align-self: center;
    margin: 5px 5px 20px 5px;
}

.choose-plan{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 298px;
    background-color: #cbea7b;
    border-radius: 6px;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #1a3129;
    color: white;
}

.flogo{
    width: 30px;
    height: 30px;
}

.footer-head{
    display: flex;
    flex-wrap: wrap;
    width: 358px;
}

.fstart{
    display: flex;
    justify-self: baseline;
}

.fstart>*{
    align-self: center;
}

.fend{
    display: flex;
    justify-content: end;
}

.fend>*{
    align-self: center;
}

.foot-links{
    display: flex;
    flex-wrap: wrap;
    max-width: 358px;
}

.foot-links>*{
    padding: 10px;
}