wrapper{
    width: 358px;
}

header{
    display: flex;
    height: 94px;
    background-color: #1a3129;
}

.decl{
    align-self: end;
    justify-self: left;
    width: 72px;
    height: 37px;
}

.decr{
    align-self: end;
    justify-self: right;
    width: 72px;
    height: 37px;
}

.join-demo{
    width: 358px;
    display: flex;
    align-self: center;
    flex-direction: row;
    justify-content: center;
    background-color: #234338;
    height: 40px;
    color: white;
    border: solid #2c5446 1px;
    border-radius: 6px;
    justify-self: center;
}

.join-demo>img{
    width: 20px;
}

.join-demo>*{
    height: 20px;
    margin: 0px;
    align-self: center;
}

.join-demo>.desk{
    display: none;
}

nav{
    border: solid #234338 1px;
    background-color: #1a3129;
    z-index: 1;
}

ul{
    display: none;
}

nav>img{
    height: 34px;
    width: 34px;
}

nav{
    height: 74px;
    flex-direction: row;
    color: white;
    display: flex;
    justify-content: space-between;
}

nav>*{
    margin: auto;
}

nav>h1{
    
}


